@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


html {
  font-size: 62.5%;
  color: var(--cor-branca);
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(150deg, #000000, #646464);
  font-family: var(--fonte-dancing);
  font-size: var(--fonte-normal);
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.redes-sociais a {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 2.5rem;
  text-align: center;
  color: var(--cor-branca);
  margin: 5px 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.redes-sociais a i {
  line-height: 40px;
}

.redes-sociais a:hover {
  color: var(--cor-primaria);
}

.outer-shadow {
  box-shadow: 1px 1px #f25cd4, -3px -3px 3px #454545;
}

.inner-shadow {
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section {
  padding: 7rem 0 7rem;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
}

.section-title h2 {
  font-size: 70px;
  font-weight: 500;
  /* text-transform: uppercase; */
}

.botao {
  font-size: 3.5rem;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all .3s ease;
  background-color: var(--cor-primaria);
}

.botao:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
}

html {
  scroll-behavior: smooth;
  /* rolagem suave */
}

.btn-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--cor-primaria);

  color: #fff;
  font-size: 24px;
  padding: 12px 15px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  display: none;
  /* começa escondido */
  z-index: 9999;
  /* fica por cima de tudo */
}

.btn-topo:hover {
  background: var(--cor-secundaria);
  /* azul mais escuro no hover */
}